* {
	margin: 0;
	box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}


body {
	transition: background 5.0s ease;   /*　背景が５秒かけて切り替わる */
    overflow: hidden;   /* スクロールバーを消す */
}


#app {
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 40px 1fr;
}


#title {
	font-size: 35px;
	font-family:"HGP創英角ﾎﾟｯﾌﾟ体";     /*　月のタイトルをHGP創英角ﾎﾟｯﾌﾟ体に変更 */
	height: 40px;
	line-height: 40px;
	text-align: center;
	background:  rgba(255, 255, 255, 0.7);
	border-bottom: 2px solid gray;
}

#next-month:hover,
#prev-month:hover{
	font-weight: bold;
	cursor: pointer;
}

#calendar {
	display: grid;
    grid-template-columns: repeat(7, 1fr); /* grid 7分割 */
    gap: 6px;                              /* margin の代わり */
    padding: 3px;
    height: 100%;   /* ← 追加 カレンダーに残り高さを使わせる */
}

#week-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);  /* grid 7分割 */
    font-weight: bold;
    margin-bottom: 5px;
     /* margin-left/right を消す */
    margin-left: 0;
    margin-right: 0;

    /* calendar と合わせるため padding を追加 */
    padding: 3px;
}

.day{					/* 日付の枠部分 */
	font-size: 20px;
    background: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    /* 全画面表示するために後ろを削除した height: 120px; */
}

.sunday {				/* class="sunday"は赤色*/
	color: red;
}

.saturday {				/* class="saturday"は青色 */
	color: blue;
}

.other-month {			/* class="other-month"は半透明 */
	opacity: 0.4;
}

.schedule-text {		/* class="schedule-text"は小さい文字 */
	font-size: 10px;
	margin-top: 3px;
	line-height: 1.3;
	padding-left: 4px;
	border-left: 3px solid #999; /* 予定感UPさせる */
}

.week {
    border: 1px solid gray;
    background: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;
	margin: 3px;          /* ★日付と同じ margin を付ける */
}

    /* 曜日の色付け（週の行） */
.week:nth-child(1) {  /* 日曜日 */
    color: red;
}
.week:nth-child(7) {  /* 土曜日 */
    color: blue;
}


